/* Its fine if you wanna use it or not, i saw the welcome website and saw that the source code text in hyperlink was without CSS style, so imma help ya' */
a {
  text-decoration: none;
    color: #ffffff; /* Posterior color cas cobalt, i relalized it wont be visible, so i changed it to white */
    cursor: pointer; 
}
/* I'm re using the hyperlink style of my project, you are free to change it however you want */
